@import "_fonts";
@import "_reset";

$blue: #0054a5;
$gray: #8c8e90; $grey: $gray;
$light_gray: #f6f6f6; $light_grey: $light_gray;

@mixin reset-list {
	list-style-type: none;
	padding-left: 0;
}

.desktop {
	display: none;
}

@media(min-width:768px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: initial;
	}
}

body {
	font-family: 'Lekton', monospace;
}

.blue {
	color: $blue;
}

.gray, .grey {
	color: $gray;
}

.wrap {
	max-width: 1200px;
	margin-left: 50px;
	margin-right: 50px;
	@media(min-width:768px) {
		margin-left: 75px;
		margin-right: 75px;
	}
}

header {
	position: relative;
	background: $light_gray;
	@media(min-width:768px) {
		padding-bottom: 4rem;
	}
}

h1 {
	position: relative;
	z-index: 10;
	font-weight: bold;
	font-size: 1.75rem;
	line-height: 1.5;
	background: white;
	box-sizing: border-box;
	max-width: 825px;
	padding: 3rem 50px;
	@media(min-width:768px) {
		font-size: 3rem;
		padding: 4rem 4rem 4rem 150px;
	}
	a {
		transition: color 200ms;
	}
	a:hover {
		color: black;
	}
}

h2 {
	margin: 0;
	font-weight: normal;
	font-style: italic;
	font-size: 2.75rem;
	@media(min-width:768px) {
		font-size: 3rem;
	}
	&::after {
		content: " - - -"
	}
}

h5 {
	font-size: 1rem;
	margin: .5rem 0;
}

h6 {
	font-size: 1rem;
	font-style: italic;
	font-weight: normal;
}

.wp {
	color: #0073aa;
}

.woo {
	color: #674399;
}

.vue {
	color: #4fc08d;
}

.logo {
	position: relative;
	top: .75rem;
	font-weight: bold;
	font-size: 1.6875rem;
	padding: 2.5rem 0;
	line-height: 1.5;
	@media(min-width:768px) {
		padding: 5rem 0;
	}
}

.brain {
	z-index: 1;
	background-image: url('/images/brain@2x.png');
	width: 675px;
	height: 785px;
	background-size: 100%;
	position: absolute;
	right: 75px;
}

.clients {
	@media(min-width:768px) {
		margin-top: 8rem;
	}
}

.clients_list {
	@include reset-list;
	margin-top: 4rem;
	@media(min-width:768px) {
		display: flex;
		justify-content: space-around;
	}
	li {
		text-align: center;
		margin-bottom: 2rem;
	}
	h5, h6 {
		margin: .5rem 0;
	}
}

.clients_list--image {
	@media(min-width:768px) {
		display: flex;
		align-items: center;
		height: 100px;
	}
	margin-bottom: 2.5rem;
}

.clients_list--role {
	margin-top: 1.25rem;
	display: inline-block;
	color: white;
	background-color: black;
	padding: .5em 1em;
}